<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Noto+Serif+TC:wght@600&family=Ubuntu:ital,wght@1,700&display=swap"
    rel="stylesheet">
  <title>My Restaurant List</title>
  <!-- navigation -->
  <nav class="navbar navbar-light" style="background-color:#32333A">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top mr-2" alt="my-restaurant list">
        My Restaurant List
      </a>
      <div>
        <form action="/create" method="GET">
          <button class="edit-btn" type="submit"><i class="mr-1 fas fa-plus"></i>新增餐廳
          </button>
        </form>
      </div>
    </div>
  </nav>
  <div class="banner">
  </div>
</head>

<body>
  {{{ body }}}

  <footer>
    <div class="footer text-center py-3 pb-2 align-item-center">
      <div class="row align-items-center  justify-content-center" style="width: 100%;">
        <div class="col-4">
        </div>
        <div class="col-2">
          <a class="ml-2" href="https://github.com/schiafang"><img src="https://i.imgur.com/frLUCiN.png"
              style="opacity: 80%;"></a>
        </div>
        <div class="col-4">
          <a href="https://github.com/schiafang/restaurant-list" class="mr-4" style="color: rgb(148, 148, 148);">
            My Restaurant List project</a>
          <span> 2020 </span>
          <a href="https://tw.alphacamp.co/" class="ml-1" style="font-weight:500; color: #C03D3D;"> Alpha Camp</a>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </footer>
  <script src="/javascripts/all.js"></script>
  <script src="/javascripts/jquery-3.5.0.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/scrollview.js"></script>
</body>

</html>