<div class="container user-content">
  <div class="row justify-content-center">
    <div class="login-form">
      <div class="mb-2">
        <h5>登入</h5>
      </div>
      <div class="mb-3" style="height: 50px;">
        {{> message}}
      </div>
      <form action="/users/login" method="POST" id="login-form">
        <div>
          <div class="form-group">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="password" required>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn-block">LOG IN</button>
      </form>
      <p class="mt-4" style="color: rgb(100, 100, 100);">or login with Facebook</p>
      <a class="mt-2 mb-3" href="/auth/facebook"><img src="/images/f_logo.png" alt="facebook" width="40px"></a>
      <div class="mt-5">
        <a href=" /users/register">Sign up</a>
      </div>
    </div>
  </div>
</div>
</div>