<div class="container mb-5 mt-5" style="height: 200px;">
  <div class="row justify-content-center">

    <div class="mt-5 notfound text-center">
      <h3>oh no! Restaurant not found</h3>
    </div>
  </div>
</div>